html,
body,
#root {
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  width: 100%;
  max-height: 20vh;
  object-fit: cover;
}

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-bottom: 5rem;
}

.priceRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.deliveryPrice {
  font-weight: bold;
  margin: 0;
}

.price {
  font-family: "Dongle", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
}

.row label {
  width: max(70px, 15vw);
  font-weight: 500;
  color: #5f5f5f;
  flex: 1;
  font-size: 0.9rem;
}

.row input {
  margin-left: 10px;
  border-radius: 8px;
  border: solid 1px #d2d2d2;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-right: 0.8rem;
  padding-bottom: 1rem;
  padding-left: 0.8rem;
  flex: 2;
}

.row input:focus,
.row input:hover {
  border: solid 1px #0479d3;
  outline: none;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.1);
}

.row p {
  margin-left: 10px;
}

.spacer {
  flex-grow: 1;
}

.submitBtn {
  background-color: #4aacda;
  color: white;
  border: none;
  border-radius: 8px;
  min-height: 3rem;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  box-shadow: 0 3px 3px rgb(0 0 0 / 0.1);
  align-self: center;
}

.submitBtn:hover {
  box-shadow: none;
  opacity: 0.9;
}

h1 {
  font-family: "Dongle", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  color: #202125;
  align-self: flex-start;
  flex: 1;
  display: flex;
  align-items: flex-end;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("./assets/background.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
  }

  img {
    display: none;
  }

  .container {
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: white;
    bottom: auto;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .row {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .container p {
    margin-bottom: 0;
  }

  form {
    margin-top: 2rem;
  }

  .row label {
    flex: 2.2;
  }

  .row input {
    font-size: 14px;
  }

  .spacer {
    flex: 1;
  }

  .submitBtn {
    width: 100%;
    min-height: 3rem;
    margin-top: 3rem;
  }
}

@media only screen and (max-height: 700px) {
  img {
    display: none;
  }
  
  .submitBtn {
    margin: 0;
  }

  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .row input {
    flex: 3;
  }

  .row {
    margin-bottom: 0.7rem;
  }

}
